<!-- status bar -->
<status-bar></status-bar>
<!-- content navigation -->
<content-nav ></content-nav>

<form ng-submit="vm.saveEvent()" novalidate>
    <article>
        <h1>
            <i class="fa fa-file-text-o"></i> <page-name></page-name>
        </h1>
        <input type="text" ng-model="vm.event.name" value="{{ vm.event.name }}" id="event-title" placeholder="Title" ng-attr-url-name="{{vm.event}}" tabindex="1">
        <textarea ckeditor ng-model="vm.event.description" id="body-editor" value="{{ vm.event.description }}" tabindex="2">{{ vm.event.description }}</textarea>
    </article>

    <aside>
        <section>
            <header class="{{ backgroundColorClass }}">
                <h1>Information</h1>
            </header>
            <dl>
                <dt>Author</dt>
                <dd>{{ vm.event.author.user_name }}</dd>
                <dt>Last edited</dt>
                <dd>{{ vm.event.last_edit_date | date:"dd.MM.yyyy' @' HH:mm" }}</dd>
                <dt>Start time</dt>
                <dd><input ng-model="vm.start_date" id="rome-calendar-start" class="input" placeholder="dd.MM.YYYY HH:mm" /></dd>
                <dt>End time</dt>
                <dd><input ng-model="vm.end_date" id="rome-calendar-end" class="input" placeholder="dd.MM.YYYY HH:mm" /></dd>
                <dt>Attachment</dt>
                <dd>
                    <select ng-model="vm.event.file" ng-options="file.name for file in vm.files track by file.id" required></select>
                </dd>
                <dt>Event Venue</dt>
                <dd>
                    <select ng-model="vm.event.location" ng-options="location.name for location in vm.locations track by location.id" required></select>
                </dd>
            </dl>
            <footer>
                <button type="submit" ng-class="backgroundColorClass" tabindex="5">Save</button>
                <img class="img-center" src="img/loading.gif" height="18" width="18" alt="loading" ng-show="loading">
                <button type="button" class="delete" tabindex="6">Delete</button>
            </footer>
        </section>

        <section>
            <header class="{{ backgroundColorClass }}">
                <h1>Debug Information</h1>
            </header>
            <code ng-show="!debugModus">
                    <pre class="light">
                        {{ vm.start_date | json }}
                        {{ vm.end_date | json }}
                        {{ vm.event | json }}
                    </pre>
            </code>
        </section>
    </aside>
</form>
