RewriteEngine on

# Don't rewrite files or directories
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]


# Rewrite everything else to index.html to allow html5 state links
RewriteRule ^ index.php [L]
