# composer
composer.lock
/vendor

# bower
/web/cms/bower_components

# Sublime Text
*.sublime-project
*.sublime-workspace

# Netbeans
/nbproject/private/

# PHPStorm
.idea

# OS X
.DS_Store

# Logs
*.log

# media dir
/web/media/*

# gulp.js
node_modules

# app config
/app/config
/app/cache
/app/logs

# Vagrant
.vagrant
/puphpet