# Set the default behavior, in case people don't have core.autocrlf set.
# Git will handle the files in whatever way it thinks is best. This is a good default option.
* text=auto

# Declare files that will always have LF line endings on checkout.
# *.* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.tiff binary
*.ttf binary
*.eot
*.woff