language: php
php:
  - "7.0"
  - "5.6"
  - "5.5"
install:
  - composer install
branches:
  only:
    - master
    - integration
cache:
  directories:
  - vendor
  - node_modules
git:
  submodules: false
before_script:
  - "mysql -e 'create database angular_cms_test;'"
