<!-- status bar -->
<status-bar></status-bar>
<!-- content navigation -->
<content-nav ></content-nav>

<form ng-submit="vm.saveLocation()" novalidate>
    <article>
        <h1>
            <i class="fa fa-map-marker"></i> <page-name></page-name>
        </h1>
        <input type="text" ng-model="vm.location.name" value="{{ vm.location.name }}" id="location-name" placeholder="Location Name" required>
        <fieldset>
            <input type="text" ng-model="vm.location.description" value="{{ vm.location.description }}" id="location-description" placeholder="Location Description" required>
            <input type="text" ng-model="vm.location.address" id="location-address">
        </fieldset>
        <div id="map-canvas"></div>
    </article>

    <aside>
        <section>
            <header class="{{ backgroundColorClass }}">
                <h1>Information</h1>
            </header>
            <dl>
                <dt>Author</dt>
                <dd>{{ vm.location.author.user_name }}</dd>
                <dt>Last edited</dt>
                <dd>{{ vm.location.last_edit_date | date:"dd.MM.yyyy' @' HH:mm" }}</dd>
            </dl>
            <footer>
                <button type="submit" ng-class="backgroundColorClass" tabindex="5">Save</button>
                <img class="img-center" src="img/loading.gif" height="18" width="18" alt="loading" ng-show="loading">
                <button type="button" class="delete" tabindex="6">Delete</button>
            </footer>
        </section>

        <section>
            <header class="{{ backgroundColorClass }}">
                <h1>Debug Information</h1>
            </header>
			<pre>
				{{ vm.location | json }}
			</pre>
        </section>
    </aside>
</form>