<!-- status bar -->
<status-bar></status-bar>
<!-- content navigation -->
<content-nav ></content-nav>

<article>
    <h1>
        <i class="fa fa-file-text-o"></i> <page-name></page-name>
    </h1>

    <table>
        <thead>
        <tr>
            <th>
                <span ng-click="predicate = 'title'; reverse=!reverse">
                    <i class="fa fa-sort"></i> Title
                </span>
            </th>
            <th>
                <span ng-click="predicate = 'category.name'; reverse=!reverse">
                    <i class="fa fa-sort"></i> Category
                </span>
            </th>
            <th>
                <span ng-click="predicate = 'language.name'; reverse=!reverse">
                    <i class="fa fa-sort"></i> Language
                </span>
            </th>
            <th>
                <span ng-click="predicate = 'author.user_name'; reverse=!reverse">
                    <i class="fa fa-sort"></i> Author
                </span>
            </th>
            <th>
                <span ng-click="predicate = 'last_edit_date'; reverse=!reverse">
                    <i class="fa fa-sort"></i> Last edited
                </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="page in vm.pages | filter:pageFilter | orderBy:predicate:reverse">
            <td><a ng-href="pages/page/{{page.id}}">{{page.title}}</a></td>
            <td>{{ page.category.name }}</td>
            <td>{{ page.language.name }}</td>
            <td>{{ page.author.user_name }}</td>
            <td>{{ page.last_edit_date | date:"dd.MM.yyyy '@' HH:mm"}}</td>
        </tr>
        </tbody>
    </table>
</article>

<aside>
    <section>
        <input type="search" ng-model="pageFilter" placeholder="Search">
    </section>
</aside>