html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: #8c8c8c;
  background-color: #f8f8f8;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('sourcesanspro-extralight-webfont.eot');
    src: url('sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-extralight-webfont.woff') format('woff'),
         url('sourcesanspro-extralight-webfont.ttf') format('truetype'),
         url('sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular-webfont.woff') format('woff'),
         url('sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('sourcesanspro-bold-webfont.eot');
    src: url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bold-webfont.woff') format('woff'),
         url('sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: 800;
    font-style: normal;
}

b {
  font-weight: 400;
}

pre {
  width: 95%;
  font-family: monospace;
  font-size: 12px;
  overflow-x: auto;
  border: 1px solid #e5e5e5;
  padding: 5px;
  background: #3c3c3c;
}

pre.light {
  margin: 0;
  background: #f8f8f8;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

h1 {
  margin: 15px 0 30px 0;
}

aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { 
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

img { 
  border: 0; 
  display: block; /* prevent a block underneath img element */
}

.img-center {
  line-height: 2em;
  vertical-align: middle;
  display: inline;
}

a { color: #8c8c8c; }

.no-underline {
  text-decoration: none;
}

a.no-underline:hover {
  text-decoration: underline;
}

#map-canvas {
  height: 500px;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #222;
  z-index: 1000;
}

.header-content {
  height: 30px;
  float: right;
  line-height: 30px;
  padding: 0 10px 0 0;
}

.overlay {
  position:fixed;
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.70);
  z-index:9999;
  color:white;
  overflow-x: hidden;
  overflow-y: hidden;
}

.overlay-message {
  margin: 20% auto;
  text-align: center;
}

.hidden {
  display: none;
}

/***********************************************/
/* icon bar          */
/***********************************************/
ul.icon-bar {
  float: right;
  text-align: right;
}

ul.icon-bar li {
  position: relative;
  height: 100%;
  padding: 11px 11px 11px 11px;
  line-height: 37px;
  margin-right: 13px;
  display: inline-block; /*horizontal und als blockelement*/
}


/***********************************************/
/* left sidebar & navigation           */
/***********************************************/
.left-sidebar {
  position: fixed;
  top: 30px;
  left: 0;
  height: 100%;
  width: 180px;
  background: #222;
  z-index: 1000;
}

.left-sidebar-bar {
  position: fixed;
  top: 30px;
  height: 50px;
  width: 180px;
  float: left;
  background: #f8f8f8;
}

.left-sidebar-current-active {
  position: fixed;
  top: 80px;
  width: 180px;
}

.left-sidebar-current-active ul li {
  position: relative;
    height: 40px;
    margin: 11px 13px;
    line-height: 40px;
    color: #fff;
    display: block;
}

.left-sidebar-nav {
  position: fixed;
  top: 199px;
  left: 0;
  float: left;
  width: 180px;
  background: #222;
  margin: 0;
  padding: 5px 0 0 0;
}

ul.navigation li {
  display: block;
  height: 30px;
  padding-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 13px;
  line-height: 30px;
  text-decoration: none;
}

ul.navigation li a {
  display: block;
  color: #8c8c8c;
  text-decoration: none;

}

ul.navigation li ul {
  margin-left: 8px;
  border: none;
}


/***********************************************/
/* main content                  */
/***********************************************/
.content-bar-wrapper {
  position: fixed;
  top: 30px;
  margin: 0 0 0 180px;
  width: 100%;
  background: #f8f8f8;
  z-index: 999;
}

.content-bar {
  height: 50px;
  margin: 0 180px 0 0;
  background: #f8f8f8;
  color: #000;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
}

.content-nav {
  position: fixed;
  top: 80px;
  left: 180px;
  height: 59px;
  width: 100%;
  padding: 0 0 0 60px;
  margin: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff; 
  z-index: 998;
  /*
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 2, 34, 0.2);
  -moz-box-shadow:    0 4px 5px 0 rgba(0, 2, 34, 0.2);
  box-shadow:         0 4px 5px 0 rgba(0, 2, 34, 0.2);
  */
}

.content-nav ul li {
  position: relative;
  height: 100%;
  padding: 11px 11px 11px 11px;
  line-height: 37px;
  margin-right: 13px;
  display: inline-block; /*horizontal und als blockelement*/
}

.content-nav ul li a {
  text-decoration: none;
}

.content {
  position: relative;
  top: 170px;
  margin: 0 0 0 180px;
  height: auto;
  z-index: 1;
}

.content-text {
  margin: 30px 60px 30px 60px;
  padding: 15px;
}

.text-center {
  text-align: center;
}

.left {
  float: left;
}

.left-50 {
  float: left;
  width: 50%;
}

.left-40 {
  float: left;
  width: 40%;
}

.middle {
  float: left;
  text-align: center;
}

.middle-20 {
  float: left;
  margin: 0 5%;
  width: 10%;
  text-align: center;
}

.right {
  float: right;
}

.right-50 {
  float: right;
  width: 50%;
}

.right-40 {
  float: right;
  width: 40%;
}

.clear {
  clear: both;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.width-20 {
  width: 20%;
}

.width-40 {
  width: 40%;
}

.horizontal-center {
  text-align: center;
}

.vertical-center {
  height: 100%;
  vertical-align: middle;
}

.border-2-dashed {
  border: 2px dashed #e5e5e5;
}

input {
  background-color: #fff;
  color: #8c8c8c;
  border: 1px solid #d0d0d0;
  box-shadow: none;
  padding: 3px 5px 3px 10px;
  margin: 2px 0;
}

input[type=text],
input[type=password],
input[type=text],
input[type=email],
input[type=date],
input[type=time]{
  width: 100%;
  line-height: 17px;
  text-indent: 0;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  padding: 10px;
  border: 1px solid #e5e5e5;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

input.search-input {
  display: block;
  width: 200px;
  margin: 10px 0 30px 0;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid #e5e5e5;
}

input.search-input::-webkit-input-placeholder   {
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input.search-input::-moz-placeholder    {
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input.search-input::-ms-input-placeholder{
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input.search-input:focus::-webkit-input-placeholder {color:transparent;}
input.search-input:focus::-moz-placeholder {color:transparent;} 
input.search-input:focus:-moz-placeholder {color:transparent;}
input.search-input:focus::-ms-input-placeholder {color:transparent;}


input:focus {
  outline: 0;
}

input:disabled {
  background-color: #f8f8f8;
}

input[type=file]  {
  border: 0;
  box-shadow: none;
  padding: 0;
}

input[type=date], input.date,
input[type=time], input.time {
    height: 80%;
    text-align: right;
}

input.loading {
  background: url(/backend/images/loading.gif) no-repeat right;
  background-size: 20px;
  padding-right: 30px;
}

.wrong {
  background: url(../images/error.svg) no-repeat left center;
  background-size: 15px 15px;
  padding-left: 25px; 
}

.correct {
  background: url(../images/correct.svg) no-repeat left center;
  background-size: 15px 15px;
  padding-left: 25px;
}

input.wrong {
  background: url(../images/error.svg) no-repeat left center;
  background-size: 15px 15px;
  background-position: 5px 5px;
  padding-left: 25px;
}

input.correct {
  background: url(../images/correct.svg) no-repeat left center;
  background-size: 15px 15px;
  background-position: 5px 5px;
  padding-left: 25px;
}

.undefined {
  background: url(../images/undefined.svg) no-repeat left center;
  background-size: 15px 15px;
  background-position: 5px 5px;
  padding-left: 25px;
}

p.wrong {
  background-position: 1px 1px;
}

p.correct {
  background-position: 1px 1px;
}

.title {
  height: 40px;
  font-size: 20px;
  line-height: 30px;
}

.left-wrapper {
  float: left;
  width: 70%;
}

.right-wrapper {
  float: right;
  width: 280px;
}

.right-wrapper select {
  width: 140px;
  overflow: hidden;
}

.right-heading {
  font-weight: 400;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  color: #8c8c8c;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  padding: 3px 10px 3px 10px !important;
}

.right-body {
  line-height: 25px;
  overflow: hidden;
  color: #222;
  font-size: 14px;
  background: #f8f8f8;
  border-bottom: none;
}

.right-body-box {
  background: #fff;
  padding: 5px 10px;
  overflow: hidden; 
}

.left-body {
  margin-top: 30px;
  line-height: 25px;
  overflow: hidden;
  color: #222;
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
}


.left-body h2 {
  padding-left: 10px;
}

.left-body-box {
  background: #fff;
  padding: 5px 10px;
  margin: 10px;
  overflow: hidden;
}

.right-footer {
  padding: 6px 8px 8px 8px;
  border-top: 1px solid #e5e5e5;
  background: #fff;
}

button {
  min-width: 100px;
  line-height: 20px;
  padding: 5px;
  background: #fff;
  border: 2px solid #000;
}

button:hover {
  cursor: pointer;
}
button:focus {
  outline:0;
}

.cursor-pointer {
  cursor: pointer;
}

button.delete {
  color: #000;
  border: 2px solid #000;
}

button.delete:hover,
button.delete:active {
  color: #fff;
  background: #d8000c;
  border: 2px solid #d8000c;
}

.delete {
  color: #d8000c;
}

.sortable {
  width: 100%;
  margin: 2px;
  background: #f8f8f8;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.drop-zone {
  height: 300px;
  width: 100%;
  line-height: 300px;
  text-align: center;
  border: 2px dashed #e5e5e5;
}

.drop-zone-active {
  background: #e5e5e5;
  color: #fff;
}

.two-columns {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.three-columns {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.icon-box {
  margin: 0;
  padding: 0 5px;
}

/**
 * Extend font-awesome class
 */
.fa {
  padding-right: 5px;
}

/***********************************************/
/* Progressbar */
/***********************************************/

.progress-bar {
    margin: 10px 0;
    width: 100%;
    background: #e5e5e5;
    position: relative;
    height: 20px;
}

.progress-bar-percentage {
    background-color: #DFF2BF;
    color: #4F8A10;
    border: 1px solid #4F8A10;
    padding: 5px 0;
    text-align: center;
    line-height: 10px;
    height: 8px;
}

.progress-bar-percentage span {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
}


/***********************************************/
/* Success or Error or Info */
/***********************************************/

.success, .info, .warning, .error {
  border: 1px solid;
  margin: 10px 0;
  padding:15px 10px 15px 50px;
}

.success {
  background-color: #DFF2BF;
  color: #4F8A10;
}

.info {
  background: #BDE5F8;
  color: #00529B;
}

.warning {
  color: #9F6000;
  background: #FEEFB3;
}

.error {
  color: #D8000C;
  background: #FFBABA;
}

/***********************************************/
/* Table */
/***********************************************/

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  font-weight: 300;
  padding: 8px 20px;
}

th a {
  text-decoration: none;
}

th a:hover {
  color: #2980b9;
}

.table-header {
  background: none;
}

tr {
  border-bottom: 1px solid #f7f7f7;
  text-align: left;
  background: #fff;
}

td {
  padding: 12px 20px;
}

table.al-left tr td:first-child {
  width: 150px;
}

.no-border {
  border: none;
}

td a {
  text-decoration: none;
  font-weight: 400;
  color: #2980b9;
}

table.table-settings td:first-child {
  width: 163px;
}

/***********************************************/
/* Dashboard */
/***********************************************/

.dashboard-box {
  background: #f8f8f8;
  padding-left: 10px;
}

.dashboard-box-left {
  min-height: 150px;
  float: left;
  width: 30%;
}

.dashboard-box-left-triple {
  margin: 10px 0;
  min-height: 494px;
  float: left;
  width: 30%; 
}

.dashboard-box-right-triple {
  margin: 10px 0;
  min-height: 494px;
  float: right;
  width: 30%; 
}

.dashboard-box-right {
  margin: 10px 0;
  min-height: 150px;
  float: right;
  width: 65%;
}

.dashboard-body-box {
  background: #fff;
  padding: 5px 10px;
  margin: 10px;
  margin-left: 0;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  line-height: 24px;
}

.dashboard-body-box a {
  font-weight: 400;
  text-decoration: none;
}

.dashboard-body-box a:hover {
  text-decoration: underline;
}

/***********************************************/
/* Borders */
/***********************************************/

/*right */
.lightred-right-border {
  border-right: 2px solid #e7494a;
}

.darkred-right-border {
   border-right: 2px solid  #c22727;
}

.lightblue-right-border {
   border-right: 2px solid  #3498db;
}

.darkblue-right-border {
   border-right: 2px solid  #2980b9;
}

.lightpurple-right-border {
   border-right: 2px solid #9b59b6;
}

.darkpurple-right-border  {
   border-right: 2px solid #8e44ad;
}

.lightyellow-right-border  {
   border-right: 2px solid  #efcf4d;
}

.darkyellow-right-border{
   border-right: 2px solid  #f2ac3e;
}

.lightgreen-right-border {
   border-right: 2px solid  #2ecc71;
}

.darkgreen-right-border  {
   border-right: 2px solid  #27ae60;
}

.darkpink-right-border {
  border-right: 2px solid #c227ae;
}

.lightpink-right-border {
  border-right: 2px solid #ee51da;
}

/* left */
.lightred-left-border {
  border-left: 2px solid #e7494a;
}

.darkred-left-border {
   border-left: 2px solid  #c22727;
}

.lightblue-left-border {
   border-left: 2px solid  #3498db;
}

.darkblue-left-border {
   border-left: 2px solid  #2980b9;
}

.lightpurple-left-border {
   border-left: 2px solid #9b59b6;
}

.darkpurple-left-border  {
   border-left: 2px solid #8e44ad;
}

.lightyellow-left-border  {
   border-left: 2px solid  #efcf4d;
}

.darkyellow-left-border{
   border-left: 2px solid  #f2ac3e;
}

.lightgreen-left-border {
   border-left: 2px solid  #2ecc71;
}

.darkgreen-left-border  {
   border-left: 2px solid  #27ae60;
}

.darkpink-left-border {
  border-left: 2px solid #c227ae;
}

.lightpink-left-border {
  border-left: 2px solid #ee51da;
}

/* 3px top-borders */
.lightred-top-border {
  border-top: 3px solid #e7494a;
}

.darkred-top-border {
   border-top: 3px solid  #c22727;
}

.lightblue-top-border {
   border-top: 3px solid  #3498db;
}

.darkblue-top-border {
   border-top: 3px solid  #2980b9;
}

.lightpurple-top-border {
   border-top: 3px solid #9b59b6;
}

.darkpurple-top-border  {
   border-top: 3px solid #8e44ad;
}

.lightyellow-top-border  {
   border-top: 3px solid  #efcf4d;
}

.darkyellow-top-border{
   border-top: 3px solid  #f2ac3e;
}

.lightgreen-top-border {
   border-top: 3px solid  #2ecc71;
}

.darkgreen-top-border  {
   border-top: 3px solid  #27ae60;
}

.darkpink-top-border {
  border-top: 3px solid #c227ae;
}

.lightpink-top-border {
  border-top: 3px solid #ee51da;
}


/* 3px left-borders for navigation */
ul.navigation li.darkred-border {
  border-left: 3px solid #c22727;
}

ul.navigation li.lightyellow-border {
  border-left: 3px solid #efcf4d;
}

ul.navigation li.darkblue-border {
  border-left: 3px solid #2980b9;
}

ul.navigation li.darkpurple-border {
  border-left: 3px solid #8e44ad;
}

ul.navigation li.darkyellow-border {
  border-left: 3px solid #f2ac3e;
}

ul.navigation li.darkgreen-border {
  border-left: 3px solid #27ae60;
}

ul.navigation li.darkpink-border {
  border-left: 3px solid #c227ae;
}

/* background-colors incl. padding. also used navigation hover */
.lightred, ul.navigation li.lightred-border a:hover {
  background-color: #e7494a;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}

.darkred, ul.navigation li.darkred-border a:hover  {
  background-color: #c22727;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}

.lightblue, ul.navigation li.lightblue-border a:hover {
  background-color: #3498db;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}

.darkblue, ul.navigation li.darkblue-border a:hover  {
  background-color: #2980b9;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}

.lightpurple, ul.navigation li.lightpurple-border a:hover  {
  background-color: #9b59b6;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}

.darkpurple, ul.navigation li.darkpurple-border a:hover  {
  background-color: #8e44ad;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}

.lightyellow, ul.navigation li.lightyellow-border a:hover  {
  background-color: #efcf4d;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}

.darkyellow, ul.navigation li.darkyellow-border a:hover  {
  background-color: #f2ac3e;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}

.lightgreen, ul.navigation li.lightgreen-border a:hover  {
  background-color: #2ecc71;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}

.darkgreen, ul.navigation li.darkgreen-border a:hover  {
  background-color: #27ae60;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}

.lightpink, ul.navigation li.lightpink-border a:hover {
  background-color: #ee51da;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}

.darkpink, ul.navigation li.darkpink-border a:hover {
  background-color: #c227ae;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}

/* Buttons */

button.lightred {
  background: #fff;
  color: #e7494a;
  border: 2px solid #e7494a;
}

button.lightred:hover,
button.lightred:active {
  color: #fff;;
  background: #e7494a;
}

button.darkred {
  background: #fff;
  color: #c22727;
  border: 2px solid  #c22727;
}

button.darkred:hover,
button.darkred:active {
  color: #fff;
  background: #c22727;
}

button.lightblue {
  background: #fff;
  color: #3498db;
  border: 2px solid #3498db;
}

button.lightblue:hover,
button.lightblue:active {
  color: #fff;
  background: #3498db;
}

button.darkblue {
  background: #fff;
  color: #2980b9;
  border: 2px solid  #2980b9;
}

button.darkblue:hover,
button.darkblue:active {
  color: #fff;
  background: #2980b9;
}

button.lightpurple {
  background: #fff;
  color: #9b59b6;
  border: 2px solid #9b59b6;
}

button.lightpurple:hover,
button.lightpurple:active {
  color: #fff;
  background: #9b59b6;
}

button.darkpurple  {
  background: #fff;
  color: #8e44ad;
  border: 2px solid #8e44ad;
}

button.darkpurple:hover,
button.darkpurple.active {
  color: #fff;
  background: #8e44ad;
}

button.lightyellow  {
  background: #fff;
  color: #efcf4d;
  border: 2px solid  #efcf4d;
}

button.lightyellow:hover,
button.lightyellow:active {
  color: #fff;
  background: #efcf4d;
}

button.darkyellow {
  background: #fff;
  color: #f2ac3e;
  border: 2px solid  #f2ac3e;
}

button.darkyellow:hover,
button.darkyellow:active {
  color: #fff;
  background: #f2ac3e;
}

button.lightgreen {
  background: #fff;
  color: #2ecc71;
  border: 2px solid  #2ecc71;
}

button.lightgreen:hover,
button.lightgreen:active {
  color: #fff;
  background: #2ecc71;
}

button.darkgreen {
  background: #fff;
  color: #27ae60;
  border: 2px solid  #27ae60;
}

button.darkgreen:hover,
button.darkgreen.active {
  color: #fff;
  background: #27ae60;
}

button.darkpink {
  background: #fff;
  color: #c227ae;
  border: 2px solid #c227ae;
}

button.darkpink:hover,
button.darkpink:active {
  background: #c227ae;
  color: #fff;
}

button.lightpink {
  background: #fff;
  color: #ee51da;
  border: 2px solid #ee51da;
}

button.lightpink:hover,
button.lightpink:active {
  color: #fff;
  background: #ee51da;
}