<!-- status bar -->
<status-bar></status-bar>
<!-- content navigation -->
<content-nav ></content-nav>

<form ng-submit="vm.saveSettings()" novalidate>
    <article>
        <h1>
            <i class="fa fa-file-text-o"></i> <page-name></page-name>
        </h1>

        <section>
            <dl>
                <dt ng-repeat-start="setting in vm.settings">{{ setting.name }}</dt>
                <dd ng-repeat-end>{{ setting.value }}</dd>
            </dl>

        </section>
    </article>

    <aside>
        <section>
            <header class="{{ backgroundColorClass }}">
                <h1>Information</h1>
            </header>

            <footer>
                <button type="submit" ng-class="backgroundColorClass" tabindex="5">Save</button>
                <img class="img-center" src="img/loading.gif" height="18" width="18" alt="loading" ng-show="loading">
                <button type="button" class="delete" tabindex="6">Delete</button>
            </footer>
        </section>

        <section>
            <header class="{{ backgroundColorClass }}">
                <h1>Debug Information</h1>
            </header>
            <pre>
                {{ vm.settings | json }}
            </pre>
        </section>
    </aside>
</form>