<h1><i class="fa fa-file-text-o"></i> {{ menuName }}</h1>
<form ng-submit="saveArticle(article)" novalidate>
	<div class="left-wrapper">
		<input type="text" ng-model="article.title" value="{{article.title}}" id="article-title" class="title" placeholder="Titel" article-url-name tabindex="1">
		<p></p>
	    <textarea ckeditor ng-model="article.content" id="body-editor" value="{{article.content}}" tabindex="2">{{article.content}}</textarea>
	    <p></p>
	</div>
	<div class="right-wrapper">
		<div class="right-heading {{ backgroundColorClass }}">Informationen</div>
		<div class="right-body">
			<div class="right-body-box">
				<div class="left">Autor</div>
				<div class="right"><b>{{article.author.first_name}}</b></div>
				<div class="clear"></div>
			</div>
			<div class="right-body-box">
				<div class="left">Bearbeitet am</div>
				<div class="right"><b>{{article.last_edit_date | date:"HH:mm 'Uhr am' dd.MM."}}</b></div>
				<div class="clear"></div>
			</div>
			<div class="right-body-box">	
				<div class="left">URL Name</div>
				<div class="right"><b>{{article.url_name}}</b></div>
				<div class="clear"></div>
			</div>
			<div class="right-body-box">
				<div class="left">Kategorie</div>
				<div class="right">
					<select ng-model="article.category" required>
					    <option ng-repeat="category in allArticleCategories" value="{{category}}" ng-selected="article.category.id === category.id">
					        {{category.name}}
					    </option>
					</select>
				</div>
	        	<div class="clear"></div>
	        </div>
	        <div class="right-body-box">
	        	<div class="left">Sprache</div>
		        <div class="right">
		        	<select ng-model="article.language" required>
					    <option ng-repeat="language in allLanguages" value="{{language}}" ng-selected="article.language.id === language.id">
					        {{language.name}}
					    </option>
					</select>
		        </div>
	        	<div class="clear"></div>
	        </div>
		</div>
		<div class="right-footer">
	        <button type="submit" tabindex="5">Speichern</button>
	     	<img class="img-center" src="images/loading.gif" height="18" width="18" alt="loading" ng-show="loading">
	        <span class="right delete" delete-object delete-object-id="{{ article.id }}" delete-object-path="{{ apiPath }}" tabindex="6">{{deleteMsg}}</span>
		</div>
		<p></p>
		<div class="right-heading {{ backgroundColorClass }}" ng-show="debugModus">Debug Info</div>
		<div class="right-body" ng-show="debugModus">
			<pre class="light">
				<p ng-show="debugModus">{{ article | json }}</p>
			</pre>
		</div>
	</div>
	<div class="clear"></div>
</form>
