<div class="db-box">
	<h1><i class="fa fa-calendar"></i> Veranstaltungen <img class="img-center" src="img/loading.gif" height="20" width="20" alt="loading" ng-show="loadingEvents"></h1>
	<p></p>
	<div class="dashboard-box dashboard-box-left-triple">
		<h2>Veranstaltungsorte</h2>
		<div class="left">
			<div class="dashboard-body-box lightpink-left-border" ng-show="allLocations < 1">
				<a ng-href="add-location" href="add-location">Neuer Veranstaltungsort erstellen <i class="fa fa-plus-circle"></i></a> 
			</div>
		</div>
		<div class="clear"></div>
		<div class="dashboard-body-box" ng-repeat="location in allLocations">
			<div class="left">
				<a ng-href="locations/{{ location.id }}">{{ location.name }}</a>
			</div>
			<div class="right">
				{{ location.address }}
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="dashboard-box dashboard-box-right">
		<h2>Nächste Veranstaltungen</h2>
		<div class="left">
			<div class="dashboard-body-box lightpink-left-border" ng-show="allEvents < 1">
				<a ng-href="add-event" href="add-event">Neuer Event erstellen <i class="fa fa-plus-circle"></i></a> 
			</div>
		</div>
		<div class="clear"></div>
		<div class="dashboard-body-box" ng-repeat="event in allEvents">
			<div class="left">
				<a ng-href="events/{{ event.id}}">{{ event.name }}</a>  am {{ event.start_date | date:"HH:mm 'Uhr am' dd.MM.yyyy" }}
			</div>
			<div class="right" ng-show="event.file">
				<a ng-href="events/{{ event.id }}"><img ng-src="{{event.file.link}}" width="24" height="24"></a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>