<h1><i class="fa fa-map-marker"></i>  {{ menuName }}</h1>
<form name="addLocation" ng-submit="saveLocation(location)">
	<div class="left-wrapper">
		<input type="text" ng-model="location.name" value="{{location.name}}" id="location-title" class="title" placeholder="Ortsname" tabindex="1">
		<div class="left-body">
			<table class="table-settings">
				<tr>
					<td><label for="description">Ortsbeschreibung</label></td>
					<td><input type="text" ng-model="location.description" value="{{location.name}}" id="description" tabindex="2"></td>
				</tr>
				<tr>
					<td class="no-border"><label for="address">Adresse</td>
					<td class="no-border"><input type="text" ng-model="location.address" id="address" tabindex="3" geocode></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<span style="height: 20px">&nbsp;</span>
						<span ng-show="noResultsFound">{{errorMsg}}</span>
						<span ng-show="addressIsLoading">
							<img class="img-center" src="img/loading.gif" height="20" width="20" alt="loading" ng-show="addressIsLoading">
							{{ mapMessage }}
						</span>
					</td>
				</tr>
			</table>
		</div>
		<div id="map-canvas"></div>


	</div>
	<div class="right-wrapper">
		<div class="right-heading {{ backgroundColorClass }}">Informationen</div>
		<div class="right-body">
			<div class="right-body-box">
				<div class="left">Autor</div>
				<div class="right"><b>{{location.author.user_name}}</b></div>
				<div class="clear"></div>
			</div>
			<div class="right-body-box">
				<div class="left">Bearbeitet am</div>
				<div class="right"><b>{{location.last_edit_date | date:"HH:mm 'Uhr am' dd.MM.yyyy" }}</b></div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="right-footer">
	        <button type="submit" tabindex="4">Speichern</button>
	     	<img class="img-center" src="img/loading.gif" height="18" width="18" alt="loading" ng-show="loading">
	     	<span class="right delete" delete-object delete-object-id="{{ location.id }}" delete-object-path="{{ apiPath }}" tabindex="7">{{deleteMsg}}</span>
		</div>
		<p></p>
		<div class="right-heading {{ backgroundColorClass }}" ng-show="debugModus">Debug Info</div>
		<div class="right-body" ng-show="debugModus">
			<pre class="light">
				<p ng-show="debugModus">{{ location | json }}</p>
			</pre>
		</div>
	</div>
	<div class="clear"></div>
</form>