<h1><i class="icon-box fa fa-tachometer"></i> Dashboard</h1>
<div class="db-box">
	<div class="dashboard-box dashboard-box-left-triple">
		<h2>Direktlinks</h2>
		<div class="dashboard-body-box lightred-left-border">
			<div class="left"><a ng-href="add-article">Neuen Artikel erstellen</a></div>
			<div class="right"><a ng-href="add-article"><i class="fa fa-plus-circle"></i></a></div>
			<div class="clear"></div>
		</div>
		<div class="dashboard-body-box lightred-left-border">
			<div class="left"><a ng-href="add-page">Neue Seite erstellen</a></div>
			<div class="right"><a ng-href="add-page"><i class="fa fa-plus-circle"></i></a></div>
			<div class="clear"></div>
		</div>
		<div class="dashboard-body-box lightpink-left-border">
			<div class="left"><a ng-href="add-event">Neue Veranstaltung erstellen</a></div>
			<div class="right"><a ng-href="add-event"><i class="fa fa-plus-circle"></i></a></div>
			<div class="clear"></div>
		</div>
		<div class="dashboard-body-box lightpurple-left-border">
			<div class="left"><a ng-href="add-file">Neue Datei hochladen</a></div>
			<div class="right"><a ng-href="add-file"><i class="fa fa-plus-circle"></i></a></div>
			<div class="clear"></div>
		</div>
		<div class="dashboard-body-box lightblue-left-border">
			<div class="left"><a ng-href="add-user">Neuen Benutzer erstellen</a></div>
			<div class="right"><a ng-href="add-user"><i class="fa fa-plus-circle"></i></a></div>
			<div class="clear"></div>
		</div>
		<br />
		<h2>Seitenvorschau</h2>
		<div class="dashboard-body-box lightyellow-left-border">
			<div class="left"><a ng-href="../">Vorschau anzeigen</a></div>
			<div class="right"><a ng-href="../"></a></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="dashboard-box dashboard-box-right">
		<h2><i class="fa fa-calendar"></i> nächste Veranstaltungen</h2>
		<div class="dashboard-body-box lightpink-left-border" ng-repeat="event in statistics.last_events">
			<div class="left"><a ng-href="events/{{ event.id}}">{{ event.name }}</a> um {{ event.start_date | date:"HH:mm 'Uhr am' dd.MM.yyyy" }}</div>
			<div class="right"></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
