<h1><i class="fa fa-bars"></i> {{ menuName }}</h1>
<form ng-submit="savePage(page)" novalidate>
	<div class="left-wrapper">
		<input type="text" ng-model="page.title" value="{{page.title}}" id="page-title" class="title" placeholder="Titel" tabindex="1" page-url-name>
		<div class="left-body">
			<div class="left">
				<h2>ausgewählte Artikel</h2>
				<table class="enumerate">
					<thead>
						<tr class="table-header">
							<th>Titel</th>
							<th>Kategorie</th>
							<th></th>
						</tr>
					</thead>
					<tr ng-repeat="article in page.articles | orderBy:'title'">
						<td><a href="#/articles/{{article.id}}">{{article.title}}</a></td>
						<td>{{article.category.name}}</td>
						<td><span class="delete" ng-Click="removeArticleFromPage(article.id)">Entfernen</span></td>
					</tr>
				</table>
			</div>
			<div class="right">
				<h2>alle Artikel</h2>
				<table class="enumerate">
					<thead>
						<tr class="table-header">
							<th>Titel</th>
							<th>Kategorie</th>
							<th></th>
						</tr>
					</thead>
					<tr ng-repeat="article in allArticles | orderBy:'title'">
						<td><a href="#/articles/{{article.id}}">{{article.title}}</a></td>
						<td>{{article.category.name}}</td>
						<td><span class="delete" ng-Click="addArticleToPage(article.id)">Hinzufügen</span></td>
					</tr>
				</table>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="right-wrapper">
		<div class="right-heading {{ backgroundColorClass }}">Informationen</div>
		<div class="right-body">
			<div class="right-body-box">
				<div class="left">Autor</div>
				<div class="right"><b>{{page.author.username}}</b></div>
				<div class="clear"></div>
			</div>
			<div class="right-body-box">
				<div class="left">Bearbeitet am</div>
				<div class="right"><b>{{page.last_edit_date | date:"HH:mm 'Uhr am' dd.MM."}}</b></div>
				<div class="clear"></div>
			</div>
			<div class="right-body-box">	
				<div class="left">URL Name</div>
				<div class="right"><b>{{page.url_name}}</b></div>
				<div class="clear"></div>
			</div>
			<div class="right-body-box">
				<div class="left">Kategorie</div>
				<div class="right">
					<select ng-model="page.category" required>
					    <option ng-repeat="category in allPageCategories" value="{{category}}" ng-selected="page.category.id === category.id">
					        {{category.name}}
					    </option>
					</select>
	        	</div>
	        	<div class="clear"></div>
	        </div>
	        <div class="right-body-box">
	        	<div class="left">Sprache</div>
		        <div class="right">
		        	<select ng-model="page.language" required>
					    <option ng-repeat="language in allLanguages" value="{{language}}" ng-selected="page.language.id === language.id">
					        {{language.name}}
					    </option>
					</select>
	        	</div>
	        	<div class="clear"></div>
	        </div>
	        <div class="right-body-box">
	        	<div class="left"><label for="is_public">Veröffentlichen</label></div>
		        <div class="right">
		        	<input type="checkbox" ng-model="page.is_public" id="is_public" name="is_public" tabindex="4">
	        	</div>
	        	<div class="clear"></div>
	        </div>
	         <div class="right-body-box">
	        	<div class="left"><label for="has_subnavigation">Untermenü generieren</label></div>
		        <div class="right">
		        	<input type="checkbox" ng-model="page.has_subnavigation" id="has_subnavigation" name="has_subnavigation" tabindex="5">
	        	</div>
	        	<div class="clear"></div>
	        </div>
		</div>
		<div class="right-footer">
	        <button type="submit" tabindex="6">Speichern</button>
	     	<img class="img-center" src="images/loading.gif" height="18" width="18" alt="loading" ng-show="loading">
	        <span class="right delete" delete-object delete-object-id="{{ page.id }}" delete-object-path="{{ apiPath }}" tabindex="7">{{deleteMsg}}</span>
		</div>
		<p></p>
		<div class="right-heading {{ backgroundColorClass }}" ng-show="debugModus">Debug Info</div>
		<div class="right-body" ng-show="debugModus">
			<pre class="light">
				<p ng-show="debugModus">{{ page | json }}</p>
			</pre>
		</div>
	</div>
	<div class="clear"></div>
</form>
 


