<h1><i class="fa fa-cog"></i> Einstellungen bearbeiten</h1>
<form ng-submit="saveSettings(settings)" novalidate>
	<div class="left-wrapper">
		<h2>Allgemeine Einstellungen</h2>

		<div class="left-body">
			<table class="table-settings">
				<tr>
					<td class="no-border"><label for="siteName">Website Name</label></td>
					<td class="no-border"><input type="text" ng-model="settings.siteName" name="siteName" id="siteName" tabindex="1"></td>
				</tr>
				<tr>
					<td></td>
					<td><i>Entspricht dem Text, der im Kopf oder in den Tabs des Browsers angezeigt wird</i></td>
				</tr>
				<tr>
					<td class="no-border"><label for="frontpage">Startseite</label></td>
					<td class="no-border"><select data-ng-model="settings.curFrontpage" data-ng-options="p.title for p in settings.allPages" name="frontpage" id="frontpage" tabindex="2"></select></td>
				</tr>
				<tr>
					<td><br /></td>
					<td><i></i></td>
				</tr>
				<tr>
					<td class="no-border"><label for="adminMail">Administrator Email</label></td>
					<td class="no-border"><input type="text" ng-model="settings.adminMail" name="adminMail" id="adminMail" tabindex="3"></td>
				</tr>
				<tr>
					<td><br /></td>
					<td>Mitteilungen dieses Portal werden an diese Mailadresse gesendet.</td>
				</tr>
				<tr>
					<td class="no-border"><label for="setDebugModus">Debug Modus</label></td>
					<td class="no-border"><input type="checkbox" ng-model="settings.debugModus" name="setDebugModus" id="setDebugModus" tabindex="4"></td>
				</tr>
				<tr>
					<td class="no-border"></td>
					<td class="no-border"><i>Zeigt Nachrichten in der Konsole des Browsers an um Fehler im CMS zu finden</i></td>
				</tr>
			</table>
		</div>
		<br />
		<h2>Mailserver Einstellungen</h2>
		<h4>Diese Einstellungen werden verwendet, um Emails über dieses Portal zu versenden</h4>
		<div class="left-body">
			<table class="table-settings">
				<tr>
					<td class="no-border"><label for="mailServer">Mail Server</label></td>
					<td class="no-border"><input type="text" ng-model="settings.mailserver_server" name="mailServer" id="mailServer" tabindex="5"></td>
				</tr>
				<tr>
					<td></td>
					<td><i>Der SMTP-Mailserver</i></td>
				</tr>
				<tr>
					<td class="no-border"><label for="serverPort">Port</label></td>
					<td class="no-border"><input type="number" ng-model="settings.mailserver_port" ng-value="settings.mailserver_port" name="serverPort" id="serverPort" tabindex="6"></td>
				</tr>
				<tr>
					<td></td>
					<td><i>Port des SMTP-Mailservers</i></td>
				</tr>
				<tr>
					<td class="no-border"><label for="username">Benutzername</label></td>
					<td class="no-border"><input type="text" ng-model="settings.mailserver_user" name="username" id="username" tabindex="7"></td>
				</tr>
				<tr>
					<td></td>
					<td><i>Benutzername für den Zugriff auf den Mailserver</i></td>
				</tr>
				<tr>
					<td class="no-border"><label for="password">Passwort</label></td>
					<td class="no-border"><input type="text" ng-model="settings.mailserver_pass" name="password" id="password" tabindex="8"></td>
				</tr>
				<tr>
					<td class="no-border"></td>
					<td class="no-border"><i>Passwort für den Zugriff auf den Mailserver. Dieses Passwort wird im Klartext in der Datenbank gespeichert.</i></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="right-wrapper">
		<div class="right-heading {{ backgroundColorClass }}">Speichern</div>
		<div class="right-body">
			<div class="right-body-box">
				<div class="left">Einstellungen speichern</div>
				<div class="right"></div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="right-footer">
	        <button type="submit" tabindex="9">Speichern</button>
			<img class="img-center" src="images/loading.gif" height="18" width="18" alt="loading" ng-show="loading">
		</div>
		<p>&nbsp;</p>
		<div class="right-heading {{ backgroundColorClass }}" ng-show="debugModus">Debug Info</div>
		<div class="right-body" ng-show="debugModus">
			<pre class="light">
				<p ng-show="debugModus">{{settings |json }}</p>
			</div>
		</div>
		
	</div>
	<div class="clear"></div>
</form>
 


