<h1><i class="fa fa-cog"></i> Einstellungen bearbeiten</h1>
<form ng-submit="saveSettings(settings)" novalidate>
	<div class="left-wrapper">
		<h2>Allgemeine Einstellungen</h2>

		<div class="left-body">
			<table class="table-settings">
				<tr class="no-border">
					<td ><label for="siteName">Website Name</label></td>
					<td><input type="text" ng-model="settings.website_name.value" name="siteName" id="siteName" tabindex="1"></td>
				</tr>
				<tr>
					<td></td>
					<td>Entspricht dem Text, der im Kopf oder in den Tabs des Browsers angezeigt wird</td>
				</tr>
				<tr>
					<td><label for="websiteUrl">Website URL</label></td>
					<td><input type="text" ng-model="settings.website_url.value" name="websiteUrl" id="websiteUrl" tabindex="4" disabled></td>
				</tr>
				<tr class="no-border">
					<td><label for="debugMode">Debug Modus</label></td>
					<td><input type="checkbox" ng-model="settings.debug_mode.value" ng-true-value="1" ng-false-value="0" name="debugMode" id="debugMode" tabindex="4"></td>
				</tr>
				<tr>
					<td></td>
					<td><i>Zeigt Nachrichten in der Konsole des Browsers an um Fehler im CMS zu finden</i></td>
				</tr>
			</table>
		</div>
		<br />
		<h2>Emailadressen des Portals</h2>
		<div class="left-body">
			<table class="table-settings">
				<tr class="no-border">
					<td><label for="websiteEmail">Portal Absenderadresse</label></td>
					<td><input type="text" ng-model="settings.website_email.value" name="websiteEmail" id="websiteEmail" tabindex="3"></td>
				</tr>
				<tr>
					<td><br /></td>
					<td>Mitteilungen dieses Portal werden mit dieser Absenderadresse verschickt</td>
				</tr>
				<tr class="no-border">
					<td><label for="websiteReplyToEmail">Portal Antwortadresse</label></td>
					<td><input type="text" ng-model="settings.website_reply_to_email.value" name="websiteReplyToEmail" id="websiteReplyToEmail" tabindex="3"></td>
				</tr>
				<tr>
					<td><br /></td>
					<td>Mitteilungen dieses Portal erhalten diese Emailadresse als Antwortadresse</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="right-wrapper">
		<div class="right-heading {{ backgroundColorClass }}">Speichern</div>
		<div class="right-body">
			<div class="right-body-box">
				<div class="left">Einstellungen speichern</div>
				<div class="right"></div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="right-footer">
	        <button type="submit" tabindex="9">Speichern</button>
			<img class="img-center" src="images/loading.gif" height="18" width="18" alt="loading" ng-show="loading">
		</div>
		<p>&nbsp;</p>
		<div class="right-heading {{ backgroundColorClass }}" ng-show="debugModus">Debug Info</div>
		<div class="right-body" ng-show="debugModus">
			<pre class="light">
				<p ng-show="debugModus">{{settings |json }}</p>
			</div>
		</div>
		
	</div>
	<div class="clear"></div>
</form>
 


