<h1 class="left"><i class="fa fa-users"></i> Benutzer &nbsp; <img class="img-center" src="img/loading.gif" height="20" width="20" alt="loading" ng-show="loadingUsers"></h1>
<!--
http://stackoverflow.com/questions/17672614/angularjs-filter-not-working
filter can not handle objects, only arrays
-->
<span class="right">
	<input ng-model="userFilter" class="search-input" placeholder="Benutzer durchsuchen">
</span>

<table class="enumerate">
	<tr class="table-header">
		<th><a href="" ng-click="predicate = 'user_name'; reverse=!reverse"><i class="fa fa-sort"></i> Benutzername</a></a></th>
		<th><a href="" ng-click="predicate = 'first_name'; reverse=!reverse"><i class="fa fa-sort"></i> Vorname</a></a></th>
		<th><a href="" ng-click="predicate = 'last_name'; reverse=!reverse"><i class="fa fa-sort"></i> Nachname</a></a></th>
		<th><a href="" ng-click="predicate = 'email'; reverse=!reverse"><i class="fa fa-sort"></i> Email</a></a></th>
		<th><a href="" ng-click="predicate = 'user_group.name'; reverse=!reverse"><i class="fa fa-sort"></i> Benutzergruppe</a></a></th>
		<th><a href="" ng-click="predicate = 'last_login_date'; reverse=!reverse"><i class="fa fa-sort"></i> zuletzt eingeloggt</a></a></th>
		<th>Email bestätigt</th>
	</tr>
	<tr ng-repeat="user in users | filter:userFilter | orderBy:predicate:reverse">
		<td><a href="#/users/{{user.id}}">{{user.user_name}}</a></td>
		<td>{{user.first_name}}</td>
		<td>{{user.last_name}}</td>
		<td>{{user.email}}</td>
		<td>{{user.user_group.name}}</td>
		<td>{{user.last_login_date | date:"HH:mm 'Uhr am' dd.MM.yyyy"}}</td>
		<td><span ng-class="{ wrongNoInput: user.has_email_validated === false, correctNoInput: user.has_email_validated === true }"></span></td>
	</tr>
</table>