<!-- status bar -->
<status-bar></status-bar>
<!-- content navigation -->
<content-nav ></content-nav>

<article>
    <h1>
        <i class="fa fa-calendar"></i> <page-name></page-name> &nbsp; <img class="img-center" src="../../img/loading.gif" height="20" width="20" alt="loading" ng-show="loading">
    </h1>

    <div class="width-100 dashboard-box">
        <div class="dashboard-body-box">
            <p>Stats about this month</p>
            <table>
                <tbody>
                <tr style="text-align: center">
                    <td style="width: 33%"><h2>{{ vm.beforeEvents.length }}</h2><p>past events</p></td>
                    <td style="width: 33%"><h2>{{ vm.nextEvent.date | amDateFormat:"DD.MM.YYYY @ HH:mm" }}</h2><p>next event</p></td>
                    <td style="width: 33%"><h2>{{ vm.afterEvents.length }}</h2><p>upcoming events</p></td>
                </tr>
                </tbody>
            </table>

            <div class="width-100">
                <event-graph></event-graph>
            </div>
        </div>
    </div>

    <div class="table width-100">
        <div class="table-cell width-40">
            <table>
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entry in vm.events | orderBy:'start_date'">
                        <td><a ng-href="events/event/{{entry.id}}">{{ entry.name }}</a></td>
                        <td>{{ entry.start_date | date:"dd.MM.yyyy '@' HH:mm" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-cell width-10"></div>
        <div class="table-cell width-40">
            <table>
                <thead>
                    <tr>
                        <th>Location Name</th>
                        <th>Location Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="location in vm.locations | orderBy: title">
                        <td><a ng-href="locations/location/{{location.id}}">{{ location.name }}</a></td>
                        <td>{{ location.address }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</article>

<aside>
    <section>
        <input type="search" ng-model="eventFilter" placeholder="Search"/>
    </section>
</aside>