<!--<svg>-->
    <!--<line x1="0" y1="0" x2="100" y2="0" style="stroke:rgb(0,0,0);stroke-width:1"></line>-->
<!--</svg>-->

<div id="event-graph-container" class="width-100"></div>

<!--<script type="application/javascript">-->
    <!--var container = document.getElementById("event-graph-container"),-->
        <!--containerWidth = container.offsetWidth,-->
        <!--containerHeight = container.offsetHeight;-->

    <!--if (containerHeight < 1) {-->
        <!--containerHeight = 50;-->
    <!--}-->

    <!--var paper = Raphael(container, containerWidth, containerHeight);-->

    <!--var line = paper.path( ["M", 0, 25, "L", containerWidth, 25, "Z"] );-->
    <!--line.attr("stroke", "#8c8c8c");-->
    <!--line.attr("stroke-width", "1");-->
<!--//    line.attr("opacity", 0.5);-->

    <!--var radius = 5;-->
    <!--var circle = paper.circle(25, 25, radius);-->
    <!--circle.attr("fill", "#8c8c8c");-->
    <!--circle.attr("stroke", "#8c8c8c");-->
    <!--circle.attr("stroke-width", "1");-->

<!--</script>-->