<!-- status bar -->
<status-bar></status-bar>
<!-- content navigation -->
<content-nav ></content-nav>

<article>
    <h1>
        <i class="fa fa-file-text-o"></i> Articles &nbsp; <img class="img-center" src="../../img/loading.gif" height="20" width="20" alt="loading" ng-show="loading">
    </h1>

    <table>
        <thead>
            <tr>
                <th>
                    <span ng-click="predicate = 'title'; reverse=!reverse">
                        <i class="fa fa-sort"></i> Title
                    </span>
                </th>
                <th>
                    <span ng-click="predicate = 'category.name'; reverse=!reverse">
                        <i class="fa fa-sort"></i> Category
                    </span>
                </th>
                <th>
                    <span ng-click="predicate = 'language.name'; reverse=!reverse">
                        <i class="fa fa-sort"></i> Language
                    </span>
                </th>
                <th>
                    <span ng-click="predicate = 'author.user_name'; reverse=!reverse">
                        <i class="fa fa-sort"></i> Author
                    </span>
                </th>
                <th>
                    <span ng-click="predicate = 'last_edit_date'; reverse=!reverse">
                        <i class="fa fa-sort"></i> Last edited
                    </span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in vm.articles | filter:articleFilter | orderBy:predicate:reverse">
                <td><a ng-href="articles/article/{{article.id}}">{{article.title}}</a></td>
                <td>{{article.category.name}}</td>
                <td>{{article.language.name}}</td>
                <td>{{article.author.user_name}}</td>
                <td>{{article.last_edit_date | date:"dd.MM.yyyy '@' HH:mm"}}</td>
                <td><span class="right cursor-pointer delete" delete-object delete-object-id="{{ article.id }}" delete-object-path="{{ apiPath }}" tabindex="7">{{ deleteMsg }}</span></td>
            </tr>
        </tbody>
    </table>
</article>

<aside>
    <section>
        <input type="search" ng-model="articleFilter" placeholder="Search"/>
    </section>
</aside>