<!-- status bar -->
<status-bar></status-bar>
<!-- content navigation -->
<content-nav ></content-nav>

<article>

    <h1><i class="fa fa-file-text-o"></i> {{ menuName }}</h1>
    <form ng-submit="vm.saveArticle()" novalidate>
        <div class="left-wrapper">
            <input type="text" ng-model="vm.article.title" value="{{vm.article.title}}" id="article-title" class="title" placeholder="Titel" article-url-name tabindex="1">
            <p></p>
            <textarea ckeditor ng-model="vm.article.content" id="body-editor" value="{vm.{article.content}}" tabindex="2">{{article.content}}</textarea>
            <p></p>
        </div>
        <div class="right-wrapper">
            <div class="right-heading {{ backgroundColorClass }}">Informationen</div>
            <div class="right-body">
                <div class="right-body-box">
                    <div class="left">Autor</div>
                    <div class="right"><b>{{vm.article.author.first_name}}</b></div>
                    <div class="clear"></div>
                </div>
                <div class="right-body-box">
                    <div class="left">Bearbeitet am</div>
                    <div class="right"><b>{{vm.article.last_edit_date | date:"HH:mm 'Uhr am' dd.MM."}}</b></div>
                    <div class="clear"></div>
                </div>
                <div class="right-body-box">
                    <div class="left">URL Name</div>
                    <div class="right"><b>{{vm.article.url_name}}</b></div>
                    <div class="clear"></div>
                </div>
                <div class="right-body-box">
                    <div class="left">Kategorie</div>
                    <div class="right">
                        <select ng-model="vm.article.category" required>
                            <option ng-repeat="category in allArticleCategories" value="{{category}}" ng-selected="vm.article.category.id === category.id">
                                {{category.name}}
                            </option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="right-body-box">
                    <div class="left">Sprache</div>
                    <div class="right">
                        <select ng-model="vm.article.language" required>
                            <option ng-repeat="language in allLanguages" value="{{language}}" ng-selected="vm.article.language.id === language.id">
                                {{language.name}}
                            </option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="right-footer">
                <button type="submit" class="darkred" tabindex="5">Speichern</button>
                <img class="img-center" src="img/loading.gif" height="18" width="18" alt="loading" ng-show="loading">
                <button type="button" ng-show="deleteMsg" class="right delete" delete-object delete-object-id="{{ vm.article.id }}" delete-object-path="{{ apiPath }}" tabindex="6">{{deleteMsg}}</button>
            </div>
            <p></p>
            <div class="right-heading {{ backgroundColorClass }}" ng-show="debugModus">Debug Info</div>
            <div class="right-body" ng-show="debugModus">
			<pre class="light">
				<p ng-show="debugModus">{{ article | json }}</p>
			</pre>
            </div>
        </div>
        <div class="clear"></div>
    </form>


</article>