<nav>
    <div class="nav-active">
        <current-site></current-site>
    </div>
    <ul>
        <a href="/cms/dashboard">
            <li class="lightyellow-border">
                <div class="nav-icon">
                    <i class="icon-box fa fa-tachometer"></i>
                </div>
                <div class="nav-text">
                    Dashboard
                </div>
            </li>
        </a>
        <a href="articles/list">
            <li class="darkred-border">
                <div class="nav-icon">
                    <i class="icon-box fa fa-file-text"></i>
                </div>
                <div class="nav-text">
                    Articles
                </div>
            </li>
        </a>
        <a href="events/list">
            <li class="darkpink-border">
                <div class="nav-icon">
                    <i class="icon-box fa fa-calendar"></i>
                </div>
                <div class="nav-text">
                    Events
                </div>
            </li>
        </a>
        <a href="files/list">
            <li class="darkpurple-border">
                <div class="nav-icon">
                    <i class="fa fa-picture-o"></i>
                </div>
                <div class="nav-text">
                    Media
                </div>
            </li>
        </a>
        <a href="users/list">
            <li class="darkblue-border">
                <div class="nav-icon">
                    <i class="fa fa-users"></i>
                </div>
                <div class="nav-text">
                    Users
                </div>
            </li>
        </a>
        <a href="settings/list">
            <li class="darkgreen-border">
                <div class="nav-icon">
                    <i class="fa fa-cog"></i>
                </div>
                <div class="nav-text">
                    Settings
                </div>
            </li>
        </a>
    </ul>
</nav>