<!-- status bar -->
<status-bar></status-bar>
<!-- content navigation -->
<content-nav ></content-nav>

<article>
    <h1>
        <i class="fa fa-file-upload"></i> <page-name></page-name>
    </h1>

    <input type="text" ng-model="vm.fileDescription" value="{{ vm.fileDescription }}" id="file-description" placeholder="File Description" required>


    <div ngf-drop ngf-select ng-model="vm.files" class="drop-box"
         ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
         >Drop files here or click to upload</div>

    <div ngf-no-file-drop class="drop-box">File Drag/Drop is not supported for this browser</div>


</article>

<aside>
    <section>
        <header class="{{ backgroundColorClass }}">
            <h1>Information</h1>
        </header>
        <dl>
            <dt>That</dt>
            <dd>This</dd>
        </dl>
        <button ngf-select ngf-change="vm.upload($files)" ngf-multiple="true">Select Files</button>
        <div class="progress-bar all-rounded">
            <div class="progress-bar-percentage all-rounded" style="width: 0%"><span>{{ percent }} %</span></div>
        </div>
        </section>
</aside>