<!-- status bar -->
<status-bar></status-bar>
<!-- content navigation -->
<content-nav ></content-nav>

<article>
    <h1>
        <i class="fa fa-picture-o"></i> <page-name></page-name> &nbsp; <img class="img-center" src="../../img/loading.gif" height="20" width="20" alt="loading" ng-show="loading">
    </h1>

    <dl>
        <dt>Name</dt>
        <dd>{{ vm.file.name }}</dd>
        <dt>Description</dt>
        <dd>{{ vm.file.description }}</dd>
        <dt>File Category</dt>
        <dd>{{ vm.file.category }}</dd>
        <dt>Link</dt>
        <dd><a ng-href="{{ vm.file.link }}" target="_blank">{{ vm.file.link }}</a></dd>
        <dt>Extension</dt>
        <dd>{{ vm.file.extension }}</dd>
        <dt>Size</dt>
        <dd>{{ vm.file.size }}</dd>
        <dt>Dimensions</dt>
        <dd>{{ vm.file.dimensions }}</dd>
        <dt>Local Path</dt>
        <dd>{{ vm.file.local_path }}</dd>
        <dt>Preview</dt>
        <dd><img width="100%" ng-src="{{ vm.file.link }}" alt="{{ vm.file.description }}"></dd>
    </dl>

</article>

<aside>
    <section>
        <header class="{{ backgroundColorClass }}">
            <h1>Information</h1>
        </header>
        <dl>
            <dt>Author</dt>
            <dd>{{ vm.file.author.user_name }}</dd>
            <dt>Uploaded at</dt>
            <dd>{{ vm.file.creation_date | date:"dd.MM.yyyy' @' HH:mm"}}</dd>
        </dl>
        <footer>
            <delete-object objectType="files" objectId="{{ vm.file.id }}"></delete-object>
        </footer>
    </section>

    <section>
        <header class="{{ backgroundColorClass }}">
            <h1>Debug Information</h1>
        </header>
        <pre>
            {{ vm.file | json }}
        </pre>
    </section>
</aside>