<!-- status bar -->
<status-bar></status-bar>
<!-- content navigation -->
<content-nav ></content-nav>

<article>
    <h1>
        <i class="fa fa-picture-o"></i> <page-name></page-name>
    </h1>

    <table>
        <thead>
            <tr>
                <th></th>
                <th ng-click="predicate = 'name'; reverse=!reverse"><i class="fa fa-sort"></i> Name</th>
                <th ng-click="predicate = 'extension'; reverse=!reverse"><i class="fa fa-sort"></i> Type</th>
                <th ng-click="predicate = 'size'; reverse=!reverse"><i class="fa fa-sort"></i> Size</th>
                <th ng-click="predicate = 'dimensions'; reverse=!reverse"><i class="fa fa-sort"></i> Dimensions</th>
                <th></th>
            </tr>
        </thead>
        <tr ng-repeat="file in vm.files | filter:fileFilter | orderBy:predicate:reverse">
            <td>
                <a ng-href="{{ file.link }}" target="_blank" ng-bind-html="file._preview"></a>
            </td>
            <td><a ng-href="files/file/{{ file.id }}" target="_self">{{ file.name }}</a></td>
            <td>{{ file.extension }}</td>
            <td>{{ file.size }}</td>
            <td>{{ file.dimensions }}</td>
            <td><delete-object objectType="files" objectId="{{ file.id }}"></delete-object></td>
        </tr>
    </table>
</article>

<aside>
    <section>
        <input type="search" ng-model="fileFilter" placeholder="Search"/>
    </section>
</aside>