<!-- status bar -->
<status-bar></status-bar>
<!-- content navigation -->
<content-nav ></content-nav>

<article>
    <h1>
        <i class="fa fa-picture-o"></i> <page-name></page-name> &nbsp; <img class="img-center" src="../../img/loading.gif" height="20" width="20" alt="loading" ng-show="loading">
    </h1>

    <table>
        <thead>
            <tr>
                <th></th>
                <th ng-click="predicate = 'name'; reverse=!reverse"><i class="fa fa-sort"></i> Name</th>
                <th ng-click="predicate = 'extension'; reverse=!reverse"><i class="fa fa-sort"></i> Type</th>
                <th ng-click="predicate = 'size'; reverse=!reverse"><i class="fa fa-sort"></i> Size</th>
                <th ng-click="predicate = 'dimensions'; reverse=!reverse"><i class="fa fa-sort"></i> Dimensions</th>
                <th></th>
            </tr>
        </thead>
        <tr ng-repeat="file in vm.files | filter:fileFilter | orderBy:predicate:reverse">
            <td>
                <a ng-href="{{ file.link }}" target="_blank">
                    <img ng-src="{{ file.thumbnail_link }}" ng-if="file.link.match('(.jpg|.png|.jpeg|.gif|.bmp)') !== null" width="40">
                    <i ng-if="file.link.match('.pdf') !== null" class="fa fa-file-pdf-o"></i>
                    <i ng-if="file.link.match('(.mp3|.m4a|.aac)')" class="fa fa-file-audio-o"></i>
                    <i ng-if="file.link.match('(.mp4|.mpeg)')" class="fa fa-file-video-o"></i>
                    <i ng-if="file.link.match('(.zip|.tar)')" class="fa fa-file-archive-o"></i>
                </a>
            </td>
            <td><a ng-href="files/file/{{ file.id }}" target="_self">{{ file.name }}</a></td>
            <td>{{ file.extension }}</td>
            <td>{{ file.size }}</td>
            <td>{{ file.dimensions }}</td>
            <td><delete-object objectType="files" objectId="{{ file.id }}"></delete-object></td>
        </tr>
    </table>
</article>

<aside>
    <section>
        <input type="search" ng-model="fileFilter" placeholder="Search"/>
    </section>
</aside>